@{
    ViewData["Title"] = "About me";
}


<div class="container">
    <h1>About Me</h1>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <img class="img-thumbnail img-responsive" src="~/Images/FranckyThassos2.png" />
        </div>
        <div class="col-md-9 col-sm-9">
            <p>
                My name is Francky Vercruysse. I'm a programmer and blogger. I work out of my home
                office in Roeselare, Belgium.
            </p>

            <p>
                I'm excited about ASP.NET, c#, javascript, Client-Side JavaScript Frameworks, Relational Databases, NoSQL,
                Azure Cloud  and above all, the open web.
                I still have to learn a lot but I enjoy expanding my knowledge in this area.
            </p>
            <p>
                The purpose of writing this blog is to learn to express my knowledge in English,
                to show to my clients or future employers
                my way of programming. I also hope I can help other programmers (students) with this blog.
            </p>
        </div>
    </div>

    <div class="row">
        <!-- Add font awesome icons -->
        <a href="" class="btn btn-default"><i class="fa fa-facebook"></i>visit my facebook page</a>
        <a href="" class="btn btn-default"><i class="fa fa-linkedin"></i>visit my linkedin profile</a>
        <a href="" class="btn btn-default"><i class="fa fa-github"></i>visit my github profile</a>
        <a href="" class="btn btn-default"><i class="fa fa-youtube"></i>visit my youtube channel</a>
        <a href="" class="btn btn-default"><i class="fa fa-stack-overflow"></i>visit my stackoverflow profile</a>
        <a href="" class="btn btn-default"><i class="fa fa-twitter"></i>visit my twitter profile</a>
        <a href="" class="btn btn-default"><i class="fa fa-codepen"></i>visit my codepen profile</a>
        <a href="" class="btn btn-default"><i class="fa fa-google"></i>visit my google page</a>
    </div>
</div>
