    <!-- Subscribe to my feed widget -->
<div class="card card-outline-secondary text-center" style="background-color: #eceeef;">
    <div class="card-block">
        <p class="card-text">Don't want to miss updates? Please click the below button!</p>
        <a href="#" class="btn btn-primary btn-lg" role="button">Subscribe to my feed</a>
    </div>
</div>


<div class="card card-outline-secondary" style="background-color: #eceeef;">
    <div class="card-block">
        <h4 class="card-title">Latest Posts</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="singlepost.html">1. Aries Sun Sign March 21 - April 19</a></li>
            <li class="list-group-item"><a href="singlepost.html">2. Taurus Sun Sign April 20 - May 20</a></li>
            <li class="list-group-item"><a href="singlepost.html">3. Gemini Sun Sign May 21 - June 21</a></li>
            <li class="list-group-item"><a href="singlepost.html">4. Cancer Sun Sign June 22 - July 22</a></li>
            <li class="list-group-item"><a href="singlepost.html">5. Leo Sun Sign July 23 - August 22 </a></li>
        </ul>
    </div>
</div>


<div class="card card-outline-secondary" style="background-color: #eceeef;">
    <div class="card-block">
        <h4 class="card-title">Categories</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="singlepost.html">Signs</a></li>
            <li class="list-group-item"><a href="singlepost.html">Elements</a></li>
            <li class="list-group-item"><a href="singlepost.html">Planets</a></li>
            <li class="list-group-item"><a href="singlepost.html">Cusps</a></li>
            <li class="list-group-item"><a href="singlepost.html">Compatibility</a></li>
        </ul>
    </div>
</div>


<div class="card card-outline-secondary" style="background-color: #eceeef;">
    <div class="card-block">
        <h4 class="card-title">Tags</h4>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Aries</a></li>
            <li class="list-inline-item"><a href="#">Fire</a></li>
            <li class="list-inline-item"><a href="#">Mars</a></li>
            <li class="list-inline-item"><a href="#">Moon</a></li>
            <li class="list-inline-item"><a href="#">Gemini</a></li>
            <li class="list-inline-item"><a href="#">Air</a></li>
            <li class="list-inline-item"><a href="#">Mercury</a></li>
            <li class="list-inline-item"><a href="#">Cancer</a></li>
        </ul>
    </div>
</div>


<div class="card card-outline-secondary" style="background-color: #eceeef;">
    <div class="card-block">
        <h4 class="card-title">Recent Comments</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="singlepost.html">I don't believe in astrology but still your writing style is really great! - <em>john</em></a></li>
            <li class="list-group-item"><a href="singlepost.html">Wow.. what you said is really true! I'm an aries though - <em>Anto</em></a></li>
            <li class="list-group-item"><a href="singlepost.html">Does capricorn and aries is compatibile? - <em>Sarah</em></a></li>
            <li class="list-group-item"><a href="singlepost.html">I'm a cancer woman been in love with Leo. Will this work? - <em>Mary</em></a></li>
        </ul>
    </div>
</div>
