@model MyBlog.Models.View_Models.ListViewModel

<div id="content">
    <div class="row">
        <div class="col-lg-8">
            <h1>@ViewBag.Title</h1>

            @Html.Partial("_Pager", Model)

            @if (Model.Posts.Count > 0)
            {
                foreach (var post in Model.Posts)
                {
                    @Html.Partial("_PostTemplate", post)

                }
            }
            else
            {
                <p>No posts found</p>
            }
            @Html.Partial("_Pager", Model)
        </div>


        <div class="col-lg-4">
            <!-- Sidebar -->
            @await Component.InvokeAsync("Sidebar")
        </div>
    </div>
</div>

